In [7]:
import pandas as pd
import numpy as np

# 申万数据处理

In [14]:
sw_1 = pd.read_excel('sw_1.xlsx',index_col=0)
sw_2 = pd.read_excel('sw_2.xlsx',index_col=0).T
sw_3 = pd.read_excel('sw_3.xlsx',index_col=0).T
sw_4 = pd.read_excel('sw_4.xlsx',index_col=0)

In [9]:
sw = pd.concat([sw_1,sw_2,sw_3])
sw.index = pd.to_datetime(sw.index)

In [10]:
hs300 = pd.read_excel('沪深300指数行情数据.xlsx')

In [17]:
sw_1 = sw.merge(hs300,left_index=True,right_on='时间')

In [18]:
sw_1.index = sw_1['时间']

In [19]:
sw_1.drop('时间',axis=1,inplace=True)

In [20]:
sw_1.head()

,农林牧渔(申万),基础化工(申万),钢铁(申万),有色金属(申万),电子(申万),家用电器(申万),食品饮料(申万),纺织服饰(申万),轻工制造(申万),医药生物(申万),...,通信(申万),银行(申万),非银金融(申万),汽车(申万),机械设备(申万),煤炭(申万),石油石化(申万),环保(申万),美容护理(申万),沪深300
时间,,,,,,,,,,,,,,,,,,,,,
2001-01-19,1742.52,1604.17,1670.41,1685.38,1627.33,1137.17,1491.55,1631.04,1602.19,1707.54,...,1435.41,934.59,637.90,1493.76,465.00,1704.16,1847.38,1527.55,1546.85,0.0
2001-02-28,1659.28,1515.46,1651.48,1671.54,1511.29,1069.95,1419.98,1524.49,1502.14,1587.88,...,1301.01,881.39,627.72,1442.81,435.96,1477.53,1766.73,1426.15,1411.13,0.0
2001-03-30,1758.70,1645.72,1733.67,1770.45,1580.77,1178.46,1533.57,1664.74,1598.58,1695.83,...,1418.68,988.17,646.01,1570.61,470.30,1555.79,1866.10,1536.02,1529.76,0.0
2001-04-30,1734.16,1647.12,1692.38,1764.04,1563.52,1125.85,1521.04,1638.91,1586.36,1685.36,...,1415.40,957.79,618.19,1579.04,468.02,1525.11,1842.53,1520.65,1514.89,0.0
2001-05-31,1794.46,1734.18,1699.31,1813.99,1561.36,1157.69,1599.30,1708.27,1683.17,1755.40,...,1399.69,998.55,620.93,1660.73,488.88,1613.31,1886.39,1595.60,1630.44,0.0

In [22]:
sw_1 = pd.concat([sw_1,sw_4])

In [23]:
sw_2 = np.log(1+sw_1.pct_change())

In [28]:
sw_2.index = pd.to_datetime(sw_2.index)

In [29]:
sw_3 = sw_2.loc['2005-01-31':,:]

In [31]:
sw_3.to_csv('sw.csv')

# ESG数据处理

In [28]:
esg_1 = pd.read_excel('esg_1.xlsx',index_col=0)
esg_2 = pd.read_excel('esg_2.xlsx',index_col=0)

In [29]:
esg = esg_1.merge(esg_2,left_index=True,right_index=True)
esg.head()

,\n 2018-01-31,\n 2018-02-28,\n 2018-03-31,\n 2018-04-30,\n 2018-05-31,\n 2018-06-30,\n 2018-07-31,\n 2018-08-31,\n 2018-09-30,\n 2018-10-31,...,\n 2022-09-30,\n 2022-10-31,\n 2022-11-30,\n 2022-12-31,\n 2023-01-31,\n 2023-02-28,2023-03-31,\n2023-04-30,2023-05-31,2023-06-30 00:00:00
证券代码,,,,,,,,,,,,,,,,,,,,,
600050.XSHG,9.42,9.63,9.63,9.77,9.77,9.51,9.48,9.24,9.50,9.74,...,7.50,7.53,7.55,7.55,7.59,7.70,7.35,7.40,7.35,7.40
300760.XSHE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.80,8.91,8.96,8.91,8.84,8.87,8.88,8.73,8.85,8.41
601326.XSHG,7.89,7.92,7.94,7.94,7.96,7.96,7.95,7.95,7.93,7.92,...,7.91,7.91,7.92,7.70,7.80,7.75,7.78,7.82,7.31,7.33
002672.XSHE,5.76,5.76,5.76,5.73,5.66,5.49,5.65,7.99,8.10,8.13,...,7.45,7.22,7.50,7.65,7.85,7.74,7.69,8.22,8.12,8.29
000063.XSHE,9.03,9.04,9.06,9.07,8.98,8.92,9.03,9.14,9.14,9.15,...,7.83,7.50,7.39,7.84,7.87,8.02,8.46,8.30,8.35,8.35

In [34]:
esg.columns = sw.loc['2018-01-31':,:].index

In [37]:
esg.to_csv('esg.csv')